<html lang="en">
<header>
    <% include ../partials/navbar %>
  </header>
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Let's make a dog friendly world!!</h1>
      <h4 class="subheader">About</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/tdawg.jpg" />
      <p>We help abandoned dogs/puppies. Please join us in this mission</p>
      <p>Fill the form with address and we will come to pick dog/puppy from you. By helping them you are helping a family too where they will be adopted</p>
    </div>
  </main>
</body>
</html>