<html lang="en">
<header>
    <% include ../partials/navbar %>
  </header>
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">Let's make a dog friendly world!!</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/tdawg.jpg" />
      <p>We work to help abandoned dogs/puppies find their family. Please join us in this mission</p>
      <p>Contact us if you want to adopt.We will give you personal consultation and ensure the smooth pet addition to your family</p>
    </div>
  </main>
</body>
</html>